html, body
{
    background-color: #cbd4d1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a
{
    color: white;
}

a:hover
{
    color: #7aceb2;
}
/*******************************************************************/
header
{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #7aceb2;
    font-size: 20px;
}

header h1
{
    color: #7aceb2;
    margin-right: 10%;
    font-size: 40px;
}

header img
{
    height: 20px;
    width: auto;
    margin-right: 10px;
}

header div
{
    display: flex;
    justify-content: space-around;
    width: 20%;
    
}

header span
{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 0.2s;
}

header span:hover
{
    opacity: 1;
    cursor: pointer;
}

#Camagru:hover
{
    cursor: pointer;
    color: #6ab99f;
}
/*******************************************************************/
section
{
    width: 90%;
    min-height: 80%;
    margin: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    color: white;
}

#main
{
    background-color: #313b38;
    flex-grow: 1;
    margin-right: 20px;
    padding: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#main a
{
    position: relative;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#side
{
    background-color: #313b38;
    width: 20%;
    padding: 8px;
    overflow-y: scroll;
    height: 80%;
    min-width: 150px;
}

section form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section input
{
    color: white;
    margin: 10px;
}

section input[type=text],
section input[type=password]
{
    background-color: #313b38;
    box-sizing: border-box;
    outline: none;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 45px;
    color: white;
}

label
{
    font-weight: 100;
    font-size: 0.8em;
    opacity: 0.8;
    font-family: system-ui;
}

section input[type=submit]
{
    background-color: #569781;
    box-shadow: inset 0px 1px 0px 0px #64ffcb;
    text-decoration: none;
    border: 1px solid #27A0A0;
    padding: 8px 18px;
    color: white;
}

section input[type=submit]:hover
{
    background-color: #7aceb2;
    cursor: pointer;
}

#photo
{
    position: fixed;
    top: 10px;
    right: 50px;
    width: 130px;
    height: 120px;
    background-color: #7aceb2;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo img
{
    width: 100px;
    height: auto;
    filter: invert(100%);
}

#photo:hover img
{
    width: 105px;
    height: auto;
}

#photo:hover
{
    cursor: pointer;
}

#videoElement
{
    width: 800px;
    height: 600px;
    background-color: #666;
    align-self: flex-start;
    box-sizing: border-box;
    transform: rotateY(180deg);
}
#main canvas
{
    display: none;
}

#img_photo img
{
    height: 50px;
    width: auto;
    min-width: 80px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid white;
}

#img_photo img:hover
{
    border: 1px solid #7aceb2;
    cursor: pointer;
}

.gallery
{
    display: flex;
    justify-content: center;
}

.gallery img
{
    height: 400px;
    width: auto;
    align-self: center;
    margin: 10px;
}

.gallery .comments
{
    overflow-y: scroll;
    height: 300px;
}

.comments bold
{
    font-weight: 600;
    font-variant: small-caps;
}

.gallery_side
{
    display: flex;
    justify-content: center;
}

.gallery_side img
{
    height: 150px;
    width: auto;
    align-self: center;
    margin: 5px;
    transition: 0.1s;
}

.gallery_side img:hover
{
    cursor: pointer;
    filter: saturate(170%);
    filter: contrast(150%);
}
/*******************************************************************/
footer
{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31463e;
    border-top: 1px solid #31463e;
}
/*******************************************************************/
#alert {
    padding: 20px;
    background-color: #4bbd97;
    color: white;
    display: inline-block;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 26%;
    height: 10%;
    border: 6px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 80px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
}

#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.2s;
}

#closebtn:hover {
    color: black;
}