<form action="javascript:connect(login.value, password.value)">
    <h1>Connection</h1>
    <input type="text" id="login" placeholder="Login" autofocus required>
    <input type="password" id="password" placeholder="Password" required>
    <input type="submit" value="CONNECT" >
</form>
<br><br><br>
<a href="javascript:event_forget_password()">Forgot my password, I'm a bad person</a>