<form action="javascript:forget_password(email.value)">
    <h1>Forgot Password</h1>
    <input type="text" id="email" placeholder="Email" autofocus required>
    <input type="submit" value="I'M BAD" >
</form>