<head>
    <title>Camagru</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/event.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/webcam.js"></script>
    <meta charset="utf-8">
</head>