<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Camagru</title>
        <style>
html, body
{
    background-color: #313b38;
    width: 700px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
a { font-weight: 600; color: white; }
a:hover { color: #7aceb2; }
        </style>
        <meta charset="utf-8">
    </head>
    <body>
        <p>Congratulation for you registration ! 
        Before signing in, you need to confirm your registration by following this link : 
        <a href="http://localhost:8080/Camagru/?email={{email}}&key={{key}}">Confirm my email.</a></p>
    </body>
</html>