<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Camagru - This is your new password</title>
        <style>
html, body
{
    background-color: #313b38;
    width: 700px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
bold { font-weight: 600; }
        </style>
        <meta charset="utf-8">
    </head>
    <body>
        <p>You are bad. You forget your password. Here is a new one for you : -> <bold>{{password}}</bold> <- . You should change it as soon as possible.</p>
    </body>
</html>