<form action="javascript:signup(login.value, password.value, password2.value, email.value)">
    <h1>Sign up</h1>
    <input type="text" id="login" placeholder="Login" minlength="4" autofocus required>
    <input type="password" id="password" placeholder="Password" minlength="6" required>
    <input type="password" id="password2" placeholder="Repeat password" minlength="6" required>
    <input type="text" id="email" placeholder="Email" required>
    <input type="submit" value="SIGN UP" >
</form>