<video autoplay="true" id="videoElement" onclick="take_snap()"></video>
<canvas id="canvas" width="800" height="600"></canvas>

<div id="img_photo">
    <img src="images/png/cat.png" onclick="add_img_video('cat')">
    <img src="images/png/glasses.png" onclick="add_img_video('glasses')">
    <img src="images/png/justdoit.png" onclick="add_img_video('justdoit')">
    <img src="images/png/trump.png" onclick="add_img_video('trump')">
</div>

<a href="javascript:activate_camera()">Activate Camera</a>
<a href="javascript:take_snap()">Take Snapshot</a>
<div>
    <form action="javascript:event_file_upload(this)" enctype="multipart/form-data">
        <input type="file" id="file_upload" name="pic" accept="image/*" onchange="this.form.submit()">
    </form>
</div>